@model CV_Sitesi.Models.Entity.TblYeteneklerim

@{
    ViewBag.Title = "YetenekEKle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h4>Yetenek Ekleme Sayfasi</h4>
<br />
<form method="post">
    <br />
    @Html.Label("Yetenek");
    @Html.TextBoxFor(x => x.Yetenek, new { @class = "form-control" })
    <br />
    @Html.Label("Derece");
    @Html.TextBoxFor(x => x.Yetenek_Oran, new { @class = "form-control" })
   



    <button class="btn btn-info">Ekle</button>
</form>

